@media (max-width: 500px){
    #loader {
        width: 200px;
        height: 200px;
        margin-top: 45%;
    }
}


@media(min-width:501px) and (max-width: 768px){

#loader {
    width: 200px;
    height: 200px;
    margin-top: 15%;
}
  
.btn{
    width: 80px;
    height: 30px;
}
#countries{
    height: 30px;
    width: 220px;
}  
.row{
    height: 50px;
}

#myChart{
  width: 80px;
  height: 20px;  
}
}