*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.chartContainer{
    position: relative; 
    height:85vh; 
    width:80vw;
    border: solid black;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.buttons .btn{
    width: 100px;
    height: 50px;
    cursor: pointer;
}
