*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/image/corona.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.btn{
    width: 100px;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
    border: thin grey;
    border-width: thin;

}
.btn:hover{
    background-color: #bae1ff;
}

.mystyle{
    background-color: rgb(130, 213, 238);
}

#continentsButtons{
    z-index: 1;
}

#infoButtons{
    z-index: 1;
}

#countries{
    height: 50px;
    width: 250px;
    z-index: 1;
    border-radius: 10px;
    outline: none;

}

.firstRow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #8abce2;
}

.secondRow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #64aadf;
}

.thiredRow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #4d9fdf;

}